  /* Teampic.css */
  /* introduce */
.grid-introduce{
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2vw;
    padding: 10px; 
    opacity: 0; 
    position: relative;
    top: 50px;
    transition: all 0.7s; 
}
  
.grid-introduce.noneup{
  opacity: 1;
  top: 00px;
  
}
  
.grid-introduce-card{
  background-color: rgba(64, 64, 64, 0);
  background-image: linear-gradient(to top right, black, rgb(82, 82, 82));
  border: solid 4px rgba(64, 64, 64, 0);
  width: 100%;
  height: 70vh;
  border-radius: 20px;
  text-align: center;
  font-size: 2vw;
}

.grid-introduce-card:hover{
  transform: scale(1.02);
  box-shadow: 0 4px 20px rgba(255, 255, 255, 250);
  transition: all 1s;
  
}
  /* introduce */

.teampic1, .teampic2, .teampic3, .teampic4 {
  
  justify-items: center;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border: solid 5px #c5bfbf;
  border-radius: 2000px;
  background-color: transparent;
}

.teampic1 { background-image: url("../img/teampic/teampic-jin.png"); }
.teampic2 { background-image: url("../img/teampic/teampic-gang.png"); }
.teampic3 { background-image: url("../img/teampic/teampic-jun.png"); }
.teampic4 { background-image: url("../img/teampic/teampic-chang.png"); }



.text-container {
  position: relative;
  height: 60px; /* 적절한 높이로 설정 */
  overflow: hidden;
}

.text-content {
  position: absolute;
  width: 100%;
  transition: opacity 1s ease;
  opacity: 0;
  
}

.text-content.show {
  opacity: 1;
  font-size: 2vw;
}